$icomoon-font-path: "../font-icons/fonts" !default;

$icon-location: "\e910";
$icon-circle-call-path1: "\e901";
$icon-circle-call-path2: "\e902";
$icon-circle-call-path3: "\e903";
$icon-circle-call-path4: "\e904";
$icon-circle-location-path1: "\e905";
$icon-circle-location-path2: "\e906";
$icon-circle-location-path3: "\e907";
$icon-circle-location-path4: "\e908";
$icon-circle-representative-path1: "\e909";
$icon-circle-representative-path2: "\e90a";
$icon-circle-representative-path3: "\e90b";
$icon-circle-representative-path4: "\e90c";
$icon-circle-representative-path5: "\e90d";
$icon-circle-representative-path6: "\e90e";
$icon-circle-representative-path7: "\e90f";
$icon-call: "\e900";

