<section id="representative-profile">
   <div id="profile-wrap" class="main-section">
	   	<img src="../../img/barbara-feinstein-square.jpg" />
	   	<h2 class="representative-name">Barbara Feinstein</h3>
	   	<h4 class="representative-number">Tel: +1 202-224-4515</h3>
   </div>
   <div id="call-guide" class="main-section">
   	     <h2>What to Say</h2>
   	     <p>Hi, my name is <span class="blue-span">[NAME]</span> and I'm a constituent from <span class="blue-span">[CITY, ZIP]</span>.

			I'm calling to express my support for the <span class="blue-span">[HOUSE: Rep. Pascrell's; SENATE: Sen. Bob Casey's]</span> Resolution of Inquiry calling for the release of Trump's tax returns. The recent Tax Marches across the country proved the American public wants to know the financial ties the President has to businesses and foreign entities.

			<span class="blue-span">[IF COMMITTEE, ADD: I urge the committee to put aside partisan politics and bring the resolution up for another hearing and vote. Please pass my message along to all members of the committee.]</span>

			Thank you for your time and attention.
			
		</p>
		<br>
		<p>		
			<span class="pink-span">[IF LEAVING A VOICEMAIL: please leave your full street address to ensure your call is tallied]</span>
		</p>
		<button class="next-representative-btn">Not Available?</button>
   </div>
   
    
</section>