#home{
	@include span(12);
	padding:0;

	.globe-background{		
		background:url("../img/globe-dots.png");
		background-color:$mustard;
		background-repeat:no-repeat;
		background-position:center;
		height:400px;
		position:relative;

		&::before{
			@include center-all-absolute();
			content:"";
			background:url("../img/location-marker.png");
			z-index:2;			
			width:145px;
			height:193px;
		}

		.location-form
		{
			
			position: absolute;
			max-width: 800px;
			height: $header-height;
		    margin: auto;
		    left: 0;
		    right: 0;
		    bottom: -40px;

		    .location-input{
		    	@include span(10);
		    	@include shadow();
		    	height: 100%;
		    	padding: 20px;
		    	box-sizing: border-box;
		    	border: none;
		    	outline: none;
		    }

		    .submit-btn
		    {
		    	@include span(2);
		    	height: 100%;
		    	background:$dark-blue;
		    	outline: none;
		    	border: none;
		    	color:white;
		    }
		}

	}

	.home-intro
	{
		h1{
			margin-top:60px;
			text-align:center;

			.sky-blue{
				color:$sky-blue;
			}

			.green{
				color:$green;
				font-weight:bold;
				font-size:3rem;
			}
		}

		.balloon-background{
			//default			
			height:250px;
			margin:50px;
			background:url("../img/sky.svg");
			background-repeat:no-repeat;
			background-position:center;
			background-size:contain;

	        //Phone
			@include breakpoint($phone) {
				
			    
			  }

	        //Tablet
			 @include breakpoint($tablet) {
			  			    
			    }
		}

		.home-steps
		{
			max-width: 1024px;
		    margin: auto;
		    
			[class^="icon-"]
			{
				font-size:150px;
			}

			h4{
				margin-top:0;
			}

		}
	}
}