#representative-profile
{
	

	#profile-wrap
	{
		

		background:$dark-blue;
		text-align:center;

		img
		{
			width: 175px;
			height: 175px;
			margin: 20px;
			object-fit: cover;
			object-position: center;
			border-radius:100%;
			border:6px solid $mustard;
		}

		.representative-name
		{
			color:$mustard;
			font-size:1.8rem;
			margin:10px;
		}

		.representative-number
		{
			color:white;
			font-size: 1.4rem;
			margin: 10px;
			margin-bottom: 30px;
		}

		.representative-call-btn
		{
			height: 45px;		    
		    padding: 10px;
		    margin-right: 20px;
		    font-size: 16px;
		    &.positive{
		    	@include round-btn(8px,$green,white);
		    }

		    &.negative{
		    	@include round-btn(8px,$pink,white);
		    }
		}
	}

	#call-guide
	{		
		padding-top:30px;
		padding-bottom:30px;

		h2{
			margin-top:20px;
		}

		.blue-span{
			color:$sky-blue;
		}

		.pink-span{
			color:$pink;
		}

		
	}
}

