
/*----------  Place Holder Colors  ----------*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $light-grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $light-grey;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $light-grey;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   $light-grey;
}


/*----------  Common App Styles  ----------*/
html
{
	min-height:100%;
	position:relative;
}

header,main,footer
{
	   //Default
		@include span(12);
}

main
{
	
  margin-bottom:$footer-height;
  padding:0;

  section{
    .main-section{
      @include center-padding(15%); 
      padding-top:30px;
      padding-bottom:30px;
    }
     
  }
}

h1
{
  color:$dark-blue;
  font-size:1.8rem;
}
