/*======================================
=                Colors                =
======================================*/

$mustard:                 #ffdd50;
$dark-blue:               #2f3846;
$fade-dark-blue:          #394551;
$sky-blue:                #29abe2;
$light-grey:              #cccccc;
$light-beige:             #bebaab;

/*=====  End of Colors  ======*/

/*==================================
=            Dimensions            =
==================================*/
$header-height:              75px;


/*=====  End of Dimensions  ======*/



