<div class="campaign">
  <div class="brief">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
    text ever since.
  </div>
  <div class="details my-crazy-animation" ng-if="isMored">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </div>
  <div class="action my-crazy-animation" ng-if="isMored">
    <button>Make Call</button>
  </div>
  <div class="content-switch-wrap">
    <div class="content-switch">
      <a ng-click="toggleReadMore()">
        <span ng-if="!isMored">Read More</span>
        <span ng-if="isMored">Close</span>
      </a>
      </span>
    </div>
  </div>