<div class="campaign">
  <div class="brief">
    {{$ctrl.campaign.title}}
  </div>
  <div class="details my-crazy-animation" ng-if="isMored">
    {{$ctrl.campaign.description}}
  </div>
  <div class="action my-crazy-animation" ng-if="isMored">
    <button>Make Call</button>
  </div>
  <div class="content-switch-wrap">
    <div class="content-switch">
      <a ng-click="toggleReadMore()">
        <span ng-if="!isMored">Read More</span>
        <span ng-if="isMored">Close</span>
      </a>
      </span>
    </div>
  </div>