<section id="campaigns">
    <div class="main-section">
        <h1>Trending Campaigns</h1>
        <div class="selected-city-search-campaigns-wrap">
            <div class="selected-city">
                <i class="icon icon-location-marker"></i>
                <span>Berlin - Germany</a>
                <span>
                    (<a class="change-btn">change</a>)
                </span>
            </div>
            <div class="search-campaigns">
                <input type="text" placeholder="Search compaigns" />
            </div>
        </div>
        <div class="campaigns-list">
            <campaign></campaign>
            <campaign></campaign>
            <campaign></campaign>
            <campaign></campaign>
            <campaign></campaign>
        </div>
        <div class="load-more-wrap">
            <div class="load-more">
                <a>Load More</a>
            </div>
        </div>
    </div>
</section>